* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bar-color: #080B12;
    --bg-album-color: #131922;
    --play-bar-color: #282828;
}

img {
    width: 250px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h3 {
    text-align: center;
}

.container-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*debug*/
    border: 1px dashed red;
    background-color: var(--bg-album-color);
    color: white;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px
}

.border-radius {
    border-radius: 50%;
}

.subtitle {
    padding-bottom: 30px;
    color: gray;
}

.flex-grow {
    flex-grow: 1;
    border: 1px dashed red;
}

.d-flex {
    display: flex;
}

.sidebar {
    flex-shrink: 0;
    width: 250px;
    /*debug*/
    background-color: var(--bar-color);
    border: 1px dashed blue;
    color: white;
}

.icon-sidebar {
    width: 40%;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    
}

.player-container {
    flex-shrink: 0;
    padding: 10px 0;
    /*debug*/
    background-color: var(--play-bar-color);
    border: 1px dashed rgb(0, 0, 0);
}

.overflow-auto {
    overflow: auto;
}

.top-bar {
    background-color: var(--bar-color);
    flex-shrink: 0;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex-basis: calc(100% / 6);    
    border: 1px dashed red;
}





