* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --bar-color: #080B12;
    --bg-album-color: #131922;
    --play-bar-color: #282828;
    --text-link-and-subtitle-color: #54585E;
    --white-color: #F3F3F4;
}

img {
    width: 100%;   
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--text-link-and-subtitle-color);
}

ul {
    list-style: none;
}

.container-app {
    height: 100vh;
    flex-direction: column;

    /*debug*/
    border: 1px dashed red;
    background-color: var(--bg-album-color);
    color: var(--white-color)
}

.text-align {
    text-align: center;
}

.section {
    padding: 20px 30px;
}

.border-radius {
    border-radius: 50%;
}

.subtitle {
    padding-bottom: 30px;
    color: var(--text-link-and-subtitle-color)
}

.flex-grow {
    flex-grow: 1;
    border: 1px dashed red;
    overflow: auto;
}

.d-flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.sidebar {
    flex-shrink: 0;
    width: 300px;
    /*debug*/
    background-color: var(--bar-color);
    border: 1px dashed blue;
    color: var(--white-color);
    padding-left: 10px;
}

.icon-sidebar {
    width: 35%;
    padding-top: 10px;
}

.v-align {
    vertical-align: super;
    font-size: 20px;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    
}

.column {
    flex-direction: column;
}

.icon-add-playlist {
    width: 20%;
}

.new-playlist {
    padding-bottom: 10px;
}

.icon-download {
    width: 10%;
}

.hr {
    width: 95%;
    border: 1px solid var(--text-link-and-subtitle-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.icon-profile {
    width: 10%;
    background-color: var(--text-link-and-subtitle-color);
    border-radius: 50%;
}

.padding {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.player-container {
    flex-shrink: 0;
    padding: 10px 0;
    /*debug*/
    background-color: var(--play-bar-color);
    border: 1px dashed rgb(0, 0, 0);
    height: 100px;
}

.row-p-container {
    flex-direction: row;
}

.col-p-container {
    flex-basis: calc(100% / 3);
    border: 1px dashed rgb(54, 199, 163);   
}

.col-cover-container {
    flex-basis: calc(100% / 3);
    border: 1px dashed violet;    
}

.cover-img {
    max-width: 50%;
    max-height: 100%;
}

.row-col-icons {
    flex-direction: row;
}

.col-icons {
    flex-basis: calc(100% / 2);
    border: 1px dashed blue;    
}

.icon {
    width: 30%;
    padding-top: 30px;
}

.overflow-auto {
    overflow: auto;
}

.top-bar {
    background-color: var(--bar-color);
    flex-shrink: 0;
    padding: 20px;
    text-align: end;
}

.link {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.upgrade {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--bar-color);
    color: var(--white-color);
    border-color: var(--white-color);
}

.row {
    flex-direction: row;
    gap: 10px;
}

.col {
    flex-basis: calc(100% / 6);    
    border: 1px dashed red;
}





